version: "3.9"

services:

  # ---------- BACKEND ----------
  backend:
    container_name: backend
    build:
      context: ./backend
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: local
      REDIS_URL: redis://redis:6379
    depends_on:
      - redis
    networks:
      - app-net
      - redis-net

  # ---------- FRONTEND ----------
  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - "3000:3000" 
    depends_on:
      - backend
    networks:
      - app-net

  # ---------- REDIS ----------
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    restart: unless-stopped
    networks:
      - redis-net

  # ---------- REDIS INSIGHT ----------
  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    ports:
      - "5540:5540"
    restart: unless-stopped
    depends_on:
      - redis
    networks:
      - redis-net

  # ---------- SONARQUBE ----------
  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    depends_on:
      - redis
    ports:
      - "9000:9000"
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    restart: unless-stopped
    networks:
      - app-net

# ---------- NETWORKS ----------
networks:
  redis-net:
  app-net:
