version: "3.9"

services:

  # ---------- BACKEND ----------
  backend:
    container_name: backend
    build:
      context: ./backend
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: local
      REDIS_URL: redis://redis:6379
    depends_on:
      - redis
    networks:
      - app-net
      - redis-net

  # ---------- FRONTEND ----------
  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - "3000:3000" 
    depends_on:
      - backend
    networks:
      - app-net

  # ---------- REDIS ----------
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    restart: unless-stopped
    networks:
      - redis-net

  # ---------- REDIS INSIGHT ----------
  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    ports:
      - "5540:5540"
    restart: unless-stopped
    depends_on:
      - redis
    networks:
      - redis-net

  # ---------- SONARQUBE ----------
  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    depends_on:
      - redis
    ports:
      - "9000:9000"
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    restart: unless-stopped
    networks:
      - app-net

  jenkins:
    container_name: jenkins
    image: jenkins/jenkins:lts
    ports:
      - "8081:8080"   # UI (host:container)
      - "50000:50000" # agent port
    volumes:
      - ./jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock           # permite controlar o docker host
      - /usr/bin/docker:/usr/bin/docker      
    restart: unless-stopped
      # opcional: monte o socket do docker para permitir builds que usam docker (risco de segurança)
      # - /var/run/docker.sock:/var/run/docker.sock
    environment:
      # evita prompts interativos no primeiro boot (opcional)
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=true
    networks:
      - app-net

    # Se você precisa que o Jenkins controle o Docker do host (ex.: build de imagens),
    # descomente a linha do volume do socket (acima) e considere também montar o binário docker:
    #   - /usr/bin/docker:/usr/bin/docker
    # Atenção: isso dá ao Jenkins acesso ao Docker host (privilégios elevados).


# ---------- NETWORKS ----------
networks:
  redis-net:
  app-net:
