server:
  port: ${PORT:8181}

spring:
  application:
    name: consumer
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
    listener:
      simple:
        acknowledge-mode: auto
        prefetch: 10